@model List<EgyptianeInvoicing.Shared.Dtos.ClientsDto.Invoicing.InvoiceSubmission.Details.CompanyDto>

<h2>@localizer["Companies"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">@localizer["CreateNew"]</a>
</p>
      <partial name="~/views/Partial/_SelectedCompanyPartial.cshtml" />

<table id="CompaniesTable" class="table">
    <thead>
        <tr>
            <th>@localizer["CommercialRegistrationNumber"]</th>
            <th>@localizer["Name"]</th>
            <th>@localizer["Type"]</th>
            <th>@localizer["Actions"]</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    var localizationStrings = {
        "search": "@localizer["datatable_search"]",
        "lengthMenu": "@localizer["datatable_lengthMenu"]",
        "info": "@localizer["datatable_info"]",
        "infoEmpty": "@localizer["datatable_infoEmpty"]",
        "infoFiltered": "@localizer["datatable_infoFiltered"]",
        "zeroRecords": "@localizer["datatable_zeroRecords"]",
        "paginate": {
            "first": "@localizer["datatable_paginate_first"]",
            "previous": "@localizer["datatable_paginate_previous"]",
            "next": "@localizer["datatable_paginate_next"]",
            "last": "@localizer["datatable_paginate_last"]"
        }
    };
    $(document).ready(function () {
      var table = $('#CompaniesTable').DataTable({
        "processing": true,
        "serverSide": true,
        "ajax": {
            "url": '@Url.Action("LoadData", "Company")',
            "type": "POST",
            "contentType": "application/json",
            "data": function (d) {
                return JSON.stringify({
                    draw: d.draw,
                    start: d.start,
                    length: d.length,
                    searchText: d.search.value,
                    orderBy: d.order.map(o => `${d.columns[o.column].data} ${o.dir}`).join(', ')
                });
            }
        },
        "columns": [
            { "data": "commercialRegistrationNumber" },
            { "data": "name" },
            { "data": "type" },
            {
                "data": null,
                "render": function (data, type, row) {
                    return `
                        <a href="@Url.Action("Details", "Company")?id=${row.referenceId}" class="btn btn-info">@localizer["Details"]</a>
                        <a href="@Url.Action("Delete", "Company")?id=${row.referenceId}" class="btn btn-danger">@localizer["Delete"]</a>
                        <button class="btn btn-success" onclick="selectCompany('${row.referenceId}', '${row.name}', '${row.commercialRegistrationNumber}', '${row.type}')">@localizer["Select"]</button>
                    `;
                }
            }
        ],
        "language": localizationStrings
    });
   
    });

    function selectCompany(companyId, companyName, companyRegNumber, companyType) {
    var companyDto = {
        id: companyRegNumber,
        referenceId: companyId,
        name: companyName,
        type: companyType
    };

    $.ajax({
        url: '@Url.Action("SetSelectedCompany", "Company")',
        type: 'POST',
        contentType: 'application/json',
        data: JSON.stringify(companyDto),
        success: function (response) {
            if (response.success) {
                Swal.fire('@localizer["SelectionSuccessTitle"]', '@localizer["SelectionSuccessText"]', 'success');
                showSelectedCompany(companyDto.name, companyDto.id, companyDto.type);
                authenticateCompany(companyId);
            } else {
                Swal.fire('@localizer["SelectionErrorTitle"]', '@localizer["SelectionErrorText"]', 'error');
            }
        },
        error: function (xhr, status, error) {
            Swal.fire('@localizer["SelectionErrorTitle"]', '@localizer["SelectionErrorText"]', 'error');
        }
    });
}




        
    function authenticateCompany(companyId) {
        Swal.fire({
            title: '@localizer["AuthenticationRequiredTitle"]',
            text: '@localizer["AuthenticationRequiredText"]',
            icon: 'question',
            showCancelButton: true,
            confirmButtonText: '@localizer["AuthenticationConfirmButton"]',
            cancelButtonText: '@localizer["AuthenticationCancelButton"]'
        }).then((result) => {
            if (result.isConfirmed) {
                authenticateToEInvoice(companyId);
            }
        });
    }

    function authenticateToEInvoice(companyId) {
        $.ajax({
            url: '/Home/Authenticate',
            type: 'POST',
            data: { companyId: companyId },
            success: function (response) {
                Swal.fire('@localizer["AuthenticationSuccessTitle"]', '@localizer["AuthenticationSuccessText"]', 'success');
               
            },
            error: function (xhr, status, error) {
                Swal.fire('@localizer["AuthenticationErrorTitle"]', '@localizer["AuthenticationErrorText"]', 'error');
            }
        });
    }

</script>

